@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    width: 95%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 400;
  text-shadow: 0 0 2px #080033;
}

.topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0;
  font-size: 1.7rem;
}

.topBar .logo {
  color: #3177b5;
}

.topBar .logo span {
  color: #33a5d7;
  font-weight: 800;
  font-style: italic;
}

.topBar .logo:hover {
  opacity: 0.8;
}

.topBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.topBar ul a {
  background-color: #3177b5;
  border-radius: 50%;
  font-size: 1.3rem;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin-left: 40px;
  color: #fff;
}

.topBar ul a:hover {
  background-color: #33a5d7;
  -webkit-box-shadow: 0 0 10px #a0a0a0;
          box-shadow: 0 0 10px #a0a0a0;
}

.mainHeader {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(49, 119, 181, 0.7)), to(rgba(49, 119, 181, 0.7))), url(../img/header.jpg);
  background: linear-gradient(rgba(49, 119, 181, 0.7), rgba(49, 119, 181, 0.7)), url(../img/header.jpg);
  height: 90vh;
  background-position: center;
  background-size: cover;
}

.mainHeader nav {
  padding: 20px 0 0 0;
}

.mainHeader nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mainHeader nav ul a {
  color: #fff;
  font-size: 1.3rem;
  margin-left: 40px;
}

.mainHeader hgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 75vh;
  width: 50%;
  margin: auto;
  text-align: center;
  color: #fff;
}

.mainHeader hgroup p {
  font-size: 1.3rem;
}

.mainHeader hgroup button {
  padding: 10px 40px;
  background: transparent;
  border: 2px solid #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
  margin-top: 30px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.mainHeader hgroup button:hover {
  background: #fff;
  color: #3177b5;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 100px 0;
}

.contact article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

.contact article h3 {
  color: #3177b5;
  font-size: 2rem;
}

.contact article h3::after {
  content: "";
  display: block;
  height: 2px;
  margin: 0 0 20px 0;
  width: 50px;
  background-color: #3177b5;
}

.contact article p {
  color: #33a5d7;
}
/*# sourceMappingURL=style.css.map */