@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

// variables
$fontFamily: "Open Sans", sans-serif;
$fontSize: 16px;
$transition: 0.4s ease;
$primary: #3177b5;
$secondary: #33a5d7;
$tertiary: #080033;
$black: #000;
$white: #fff;
$lightGray: #a0a0a0;
$gray: #eaeaea;
$padding: 100px 0;

// mixins
@mixin flex($justify, $align, $direction: row) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin bgImg($height) {
    height: $height;
    background-position: center;
    background-size: cover;
}
@mixin btn {
    padding: 10px 40px;
    background: transparent;
    border: 2px solid $white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    margin-top: 30px;
    cursor: pointer;
    font-family: $fontFamily;
    transition: $transition;
    color: $white;
    &:hover {
        background: $white;
        color: $primary;
    }
}
@mixin underline($color, $width, $marTop) {
    &::after {
        content: "";
        display: block;
        height: 2px;
        margin: 0 0 $marTop 0;
        width: $width;
        background-color: $color;
    }
}
// extend

// reset
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    transition: $transition;
}
ul {
    list-style: none;
}
.container {
    width: 80%;
    margin: 0 auto;
    @media (max-width: 767px) {
        width: 95%;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontFamily;
}
h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 400;
    text-shadow: 0 0 2px $tertiary;
}

.topBar {
    @include flex(space-between, center);
    padding: 10px 0;
    font-size: 1.7rem;
    .logo {
        color: $primary;
        span {
            color: $secondary;
            font-weight: 800;
            font-style: italic;
        }
        &:hover {
            opacity: 0.8;
        }
    }
    ul {
        @include flex(space-between, center);
        a {
            background-color: $primary;
            border-radius: 50%;
            font-size: 1.3rem;
            width: 40px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            text-align: center;
            margin-left: 40px;
            color: $white;
            &:hover {
                background-color: $secondary;
                box-shadow: 0 0 10px $lightGray;
            }
        }
    }
}
// mainHeader
.mainHeader {
    background: linear-gradient(rgba($primary, 0.7), rgba($primary, 0.7)), url(../img/header.jpg);
    @include bgImg(90vh);
    nav {
        padding: 20px 0 0 0;
        ul {
            @include flex(flex-end, center);
            a {
                color: $white;
                font-size: 1.3rem;
                margin-left: 40px;
            }
        }
    }
    hgroup {
        @include flex(center, center, column);
        height: 70vh;
        width: 50%;
        margin: auto;
        text-align: center;
        color: $white;
        p {
            font-size: 1.3rem;
        }
        button {
            @include btn;
        }
    }
}
// contact
.contact {
    @include flex(space-between, flex-start);
    padding: $padding;
    article {
        flex: 0 0 30%;
        h3 {
            color: $primary;
            font-size: 2rem;
            @include underline($primary, 50px, 20px);
        }
        p {
            color: $secondary;
        }
    }
}
// map
.map {
    iframe {
        display: block;
    }
}
// footer
footer {
    background-color: $primary;
    text-align: center;
    color: $white;
    padding: 20px;
}
// servicies
.servicies {
    @include flex(center, flex-start);
    margin-top: -100px;
    article {
        flex: 0 0 25%;
        color: $white;
        padding: 50px;
        background-color: $primary;
        text-align: center;
        &:nth-child(even) {
            background-color: $secondary;
        }
        i {
            font-size: 4rem;
        }
        h3 {
            font-size: 2rem;
            margin: 20px 0;
        }
        button {
            @include btn();
        }
    }
}
