@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

// variables
$fontFamily: "Open Sans", sans-serif;
$fontSize: 16px;
$transition: 0.4s ease;
$primary: #3177b5;
$secondary: #33a5d7;
$tertiary: #080033;
$black: #000;
$white: #fff;
$lightGray: #a0a0a0;
$gray: #eaeaea;
$padding: 100px 0;

// mixins
@mixin flex($justify, $align, $direction: row) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin bgImg($height) {
    height: $height;
    background-position: center;
    background-size: cover;
}
@mixin btn {
    padding: 10px 40px;
    background: transparent;
    border: 2px solid $white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    margin-top: 30px;
    cursor: pointer;
    font-family: $fontFamily;
    transition: $transition;
    color: $white;
    &:hover {
        background: $white;
        color: $primary;
    }
}
@mixin underline($color, $width, $marTop) {
    &::after {
        content: "";
        display: block;
        height: 2px;
        margin: $marTop;
        width: $width;
        background-color: $color;
    }
}
// extend

// reset
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    transition: $transition;
}
ul {
    list-style: none;
}
.container {
    width: 80%;
    margin: 0 auto;
    @media (max-width: 767px) {
        width: 95%;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontFamily;
}
h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 400;
    text-shadow: 0 0 2px $tertiary;
}

.topBar {
    @include flex(space-between, center);
    padding: 10px 0;
    font-size: 1.7rem;
    .logo {
        color: $primary;
        span {
            color: $secondary;
            font-weight: 800;
            font-style: italic;
        }
        &:hover {
            opacity: 0.8;
        }
    }
    ul {
        @include flex(space-between, center);
        a {
            background-color: $primary;
            border-radius: 50%;
            font-size: 1.3rem;
            width: 40px;
            height: 40px;
            line-height: 40px;
            display: inline-block;
            text-align: center;
            margin-left: 40px;
            color: $white;
            &:hover {
                background-color: $secondary;
                box-shadow: 0 0 10px $lightGray;
            }
        }
    }
}
// mainHeader
.mainHeader {
    background: linear-gradient(rgba($primary, 0.7), rgba($primary, 0.7)), url(../img/header.jpg);
    @include bgImg(90vh);
    nav {
        padding: 20px 0 0 0;
        ul {
            @include flex(flex-end, center);
            a {
                color: $white;
                font-size: 1.3rem;
                margin-left: 40px;
            }
        }
    }
    hgroup {
        @include flex(center, center, column);
        height: 70vh;
        width: 50%;
        margin: auto;
        text-align: center;
        color: $white;
        p {
            font-size: 1.3rem;
        }
        button {
            @include btn;
        }
    }
}
// contact
.contact {
    @include flex(space-between, flex-start);
    padding: $padding;
    article {
        flex: 0 0 30%;
        h3 {
            color: $primary;
            font-size: 2rem;
            @include underline($primary, 50px, 0 0 20px 0);
        }
        p {
            color: $secondary;
        }
    }
}
// map
.map {
    iframe {
        display: block;
    }
}
// footer
footer {
    background-color: $primary;
    text-align: center;
    color: $white;
    padding: 20px;
}
// servicies
.servicies {
    @include flex(center, stretch);
    margin-top: -100px;
    article {
        flex: 0 0 25%;
        color: $white;
        padding: 50px;
        background-color: $primary;
        text-align: center;
        &:nth-child(even) {
            background-color: $secondary;
        }
        i {
            font-size: 4rem;
        }
        h3 {
            font-size: 2rem;
            margin: 20px 0;
        }
        button {
            @include btn();
        }
    }
}

.borderHeadings {
    border: 2px solid $white;
    padding: 70px;
    text-align: center;
    font-size: 3rem;
    color: $white;
    span {
        font-weight: 700;
    }
}

.about {
    @include flex(space-between, stretch);
    height: 50vh;
    background-color: $gray;
    article {
        flex: 0 0 50%;
        padding: 0 10%;
        &:first-child {
            color: $primary;
            @include flex(center, flex-start, column);
            h2 {
                font-size: 2.5rem;
                @include underline($primary, 50px, 0 0 20px 0);
            }
            a {
                display: inline-block;
                margin-top: 20px;
                &:hover {
                    color: $secondary;
                }
            }
        }
        &:last-child {
            background-image: linear-gradient(rgba($tertiary, 0.7), rgba($tertiary, 0.7)), url(../img/about.jpg);
            @include bgImg(50vh);
            @include flex(flex-end, center);
            h2 {
                @extend .borderHeadings;
            }
        }
    }
}
// team
.team {
    background-image: linear-gradient(rgba($black, 0.7), rgba($black, 0.7)), url(../img/team.jpg);
    @include bgImg(auto);
    color: $white;
    text-align: center;
    padding: 100px 0 200px 0;
    h2 {
        font-size: 2.5rem;
        @include underline($white, 50px, 0 auto 30px);
    }
    p {
        width: 50%;
        margin: auto;
    }
}
// peoples
.peoples {
    background-color: $gray;
    color: $white;
    text-align: center;
    .container {
        @include flex(center, center);
        padding-bottom: 100px;
        article {
            flex: 1;
            margin-top: -100px;
            background-color: $primary;
            &:nth-child(even) {
                background-color: $secondary;
                button {
                    background-color: $primary;
                }
            }
            img {
                width: 100%;
            }
            button {
                @include btn();
                width: 100%;
                background-color: $secondary;
                border: none;
            }
            .text {
                padding: 40px;
                h3 {
                    font-size: 2rem;
                    @include underline($white, 100px, 20px auto);
                }
            }
        }
    }
}
// consultation
.consultation {
    @include flex(space-between, stretch);
    height: 50vh;
    //background-color: $gray;
    article {
        flex: 0 0 50%;
        &:first-child {
            background-image: linear-gradient(rgba($tertiary, 0.7), rgba($tertiary, 0.7)), url(../img/about2.jpg);
            padding-left: 10%;
            @include bgImg(auto);
            @include flex(flex-start, center);
            h2 {
                @extend .borderHeadings;
                text-align: left;
            }
        }

        &:last-child {
            @include flex(flex-end, center);
            padding-right: 10%;
            form {
                width: 70%;
                @include flex(space-between, center);
                input {
                    border: 2px solid $primary;
                    padding: 10px;
                    font-size: 1rem;
                    margin-bottom: 20px;
                    &[type="text"] {
                        flex: 0 0 48%;
                    }
                    &[type="email"] {
                        flex: 1 0 100%;
                    }
                }
                textarea {
                    flex: 0 0 100%;
                    border: 2px solid $primary;
                    padding: 10px;
                    font-size: 1rem;
                    margin-bottom: 20px;
                }
                button {
                    @include btn();
                    background-color: $primary;
                    flex: 0 0 100%;
                    border: 2px solid $primary;
                }
            }
        }
    }
}
// testimonials
.testimonials {
    background-color: $tertiary;
    color: $white;
    padding: $padding;
    text-align: center;
    h2 {
        font-size: 2.5rem;
        text-transform: uppercase;
    }
    .owl-carousel {
        width: 50%;
        margin: 0 auto;
        p {
            padding: 30px 0;
        }
        h3 {
            margin-bottom: 30px;
        }
    }
}
